@font-face {
  font-family: pFive;
  src: url(p5hatty.ttf);
}
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: pFive, sans-serif;
  font-size: 36px;
}
body {
  background: #F70000;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("p5_dialog_box.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85%;
}
#title {
  font-size: 1.75em;
}
#qNumber {
  padding: 20px;
  padding-bottom: 0px;
}
#question-text {
  padding: 20px;
  text-align: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.questions {
  width: 35vw;
}
.btn {
  border: 0px;
  background: rgba(0, 0, 0, 0);
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
.btn:hover {
  background: white;
  color: black;
}
.options {
  padding: 3px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.controls {
  padding: 10px;
}
.selected {
  color: black;
  background: white;
}
.selected:hover {
  background: #DDD;
}
.hide {
  display: none;
}
.qSelect {
  background: #555;
}